[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
aguaclara = ">=0.2.9"
numpy = "*"
sklearn = "*"
matplotlib = "*"
onshape_client = "*"
pint = "*"

[requires]
python_version = "3.7"
